# Variables in python:

# variable is created when assign a value

In [20]:
p=9.3

In [22]:
a=5
b=3.8
c='Machine Learning'
d=3+2.5j
e=a>b

# Type of Variables: 1. Number 2. String, list, dictionary, tuple, set, range

In [27]:
type(e)

bool

# String

In [28]:
a='AILABS ACADEMY'
type(a)
print('String length',len(a),a[0],a[1],a[-1],a[0:6])

String length 14 A I Y AILABS

In [30]:
a='h'

In [31]:
b='DC Group'
a=b
a

'DC Group'

In [32]:
a.lower()

'dc group'

In [33]:
a.upper()

'DC GROUP'

# List is a collection which is ordered and changeable.

In [58]:
my_list=['Data', 5, 2+3.5j, 'A','A']
my_list.count('A')

2

In [36]:
my_list[1]

5

In [37]:
my_list[1]='Math'
my_list

['Data', 'Math', (2+3.5j), 'A']

# List allows duplicate members.

In [39]:
my_list.append(65)
my_list

['Data', 5, (2+3.5j), 'A', 'A', 65]

In [40]:
my_list.insert(3,'tiger')
my_list

['Data', 5, (2+3.5j), 'tiger', 'A', 'A', 65]

In [41]:
my_list.reverse()
my_list

[65, 'A', 'A', 'tiger', (2+3.5j), 5, 'Data']

# Dictionary is a collection which is unordered, changeable and indexed.

In [43]:
my_dict={1:'good morning',2.3:'good evening',a: 5.6}
my_dict

{1: 'good morning', 2.3: 'good evening', 'DC Group': 5.6}

In [45]:
my_dict[a]

5.6

In [46]:
my_dict[a]='changed'
my_dict

{1: 'good morning', 2.3: 'good evening', 'DC Group': 'changed'}

# No duplicate members

In [47]:
my_dict={1:'good morning',2:'good evening',a: 5.6,2:'GOOD NIGHT'}
my_dict

{1: 'good morning', 2: 'GOOD NIGHT', 'DC Group': 5.6}

# Tuple is a collection which is ordered and unchangeable.

In [63]:
my_tuple=('Data', 5, 2+3.5j, 'A')
my_tuple

('Data', 5, (2+3.5j), 'A')

In [62]:
my_tuple[1]=6

# Allows duplicate members.

In [52]:
my_tuple=('Data', 5, 2+3.5j, 'A','A')
my_tuple

('Data', 5, (2+3.5j), 'A', 'A')

In [56]:
my_tuple.count('Ak')

0

# Set  is a collection which is unordered and unindexed.

In [62]:
my_set={'Data', 5, 2+3.5j, 'A'}
my_set

{(2+3.5j), 5, 'A', 'Data'}

# No duplicate members.

In [63]:
my_set={'Data', 5, 2+3.5j, 'A','A'}
my_set

{(2+3.5j), 5, 'A', 'Data'}

In [64]:
my_set[0]

TypeError: 'set' object is not subscriptable

# Range

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

In [1]:
r=range(1,15,2)
r

range(1, 15, 2)

In [3]:
type(r)

range

In [18]:
R=dict(r)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [16]:
type(R)

set

In [17]:
R

{1, 3, 5, 7, 9, 11, 13}

# use

In [76]:
for i in range(1,15,2):
    print(i,i*2)

1 2
3 6
5 10
7 14
9 18
11 22
13 26